.container-footer {
  margin-top: 200px;
}
.card {
  text-align: center;
}
.btn-img-footer {
  border: none;
  margin-right: 12px;
  background-color: #f7f7f7;
}

.sosmed-footer {
  height: 40px;
  width: 40px;
}

.footer-text {
  text-align: center;
  color: #999;
  font-size: 16px;
}

@media (max-width: 480px) {
  .container-footer {
    margin-top: 100px;
  }
  .card {
    text-align: center;
  }
  .btn-img-footer {
    border: none;
    margin-right: 12px;
    background-color: #f7f7f7;
  }

  .sosmed-footer {
    height: 20px;
    width: 20px;
  }

  .footer-text {
    text-align: center;
    color: #999;
    font-size: 8px;
  }
}
